//Header
header{
  z-index:3;
  .header-top{
    background-color:$headerTopBackground;
    background:$headerTopGrandiant;
    border-bottom:1px solid $headerTopBorderColor;
    box-shadow: 0 1px 3px $frontShadowColor;
    padding:16px 0;
    .l-container{
      display:flex;
      flex-direction:row;
      align-items:center;
      justify-content: space-between;
      a.logo{
        img{
          display:block;
          margin:0;
          max-height:35px;
        }
      }
      .header-socials{
        a{
          display:inline-block;
          background:$mainColor;
          color:#FFF;
          width:22px;
          height:22px;
          border-radius:22px;
          line-height:22px;
          text-align:center;
          margin-left:5px;
        }
        a:first-child{
          margin-left:0;
        }
      }
    }
  }
  .header-bottom{
    padding:20px 0 14px 0;
    background-color:$headerBackground;
    color:$mainFontColor;
    border-bottom:1px solid $mainColor;
    z-index:3;
    .l-container{
      display:flex;
      flex-direction:row;
      align-items:center;
      justify-content: space-between;
      nav.main-navigation{
        ul{
          list-style:none;
          margin:0;
          padding:0;
          li{
            display:inline-block;
            text-transform:uppercase;
            font-family:$fontFamilyOther;
            img{
              display:none;
            }
            a{
              display:block;
              padding:0 10px;
              height:25px;
              line-height:25px;
              border-radius:3px;
              transition-duration:$durationTransition;
            }
            a:hover{
              background-color:$navigationLinkBackgroundActive;
              color:$navigationLinkColorActive;
            }
            ul{
              position:absolute;
              top:25px;
              left:0;
              width:100%;
              background-color:$navigationLinkBackground;
              display:none;
              border:1px solid $mainColor;
              padding:20px;
              border-radius:3px;
              z-index:3;
              li{
                display:inline-block;
                float:left;
                margin-left: 2%;
                width: calc(33% - 2%);
                text-transform: none;
                margin-bottom:20px;
                a{
                  display:block;
                  font-family:$fontFamilyTitle;
                  font-size:1rem;
                  line-height:25px;
                  min-height:25px;
                  height:auto;
                  font-weight:bold;
                  border-bottom:3px solid $navigationBorderChild;
                  position:relative;
                  padding:5px 0 5px 0;
                  img{
                    display:block;
                    margin:0 auto 20px auto;
                    border:1px solid $borderColor;
                  }
                }
                a:after{
                  display:block;
                  width:11px;
                  height:3px;
                  background-color:$mainColor;
                  content:'';
                  position:absolute;
                  left:0;
                  bottom:-3px;
                }
                a:hover{
                  background-color:$navigationLinkBackground;
                  color:$mainColor;
                }
                ul{
                  display:block;
                  position:relative;
                  top:0;
                  padding:0;
                  border:none;
                  li{
                    width:100%;
                    display:block;
                    margin: 0 0 0 0;
                    img{
                      display:none;
                    }
                    a{
                      font-family:$fontFamilyBase;
                      font-size:0.875rem;
                      font-weight:normal;
                      border:none;
                      padding:0;
                    }
                    a:after{
                      display:block;
                      content:'+';
                      width:11px;
                      height:11px;
                      line-height:11px;
                      text-align:center;
                      position:absolute;
                      left:auto;
                      bottom:auto;
                      right:0;
                      top:50%;
                      margin-top:-5.5px;
                      color:#FFF;
                      background-color:$navigationLinkColor;
                      font-size:0.725rem;
                      font-family:$fontFamilyBase;
                    }
                    a:hover:after{
                      background-color:$mainColor;
                    }
                  }
                }
              }
            }
          }
          li.active{
            a{
              background-color:$navigationLinkBackgroundActive;
              color:$navigationLinkColorActive;
            }
          }
          li:hover{
            ul{
              display:block;
            }
          }
          ul.first-ul{
            display:inline-block;
          }
        }
      }
      nav.ecommerce-navigation{
        ul{
          list-style:none;
          margin:0;
          padding:0;
          li{
            display:inline-block;
            color:$navigationLinkColor;
            margin-left:25px;
            a{
              display:block;
              transition-duration:$durationTransition;
              svg{
                display:inline-block;
              }
              span{
                display:inline-block;
                font-size:0.750rem;
              }
            }
            a:hover{
              color:$mainColor;
            }
          }
          li:first-child{
            margin-left:0;
          }

        }
      }
      .responsive-menu{
        display:none;
      }
    }
  }
}
// Lien pour se déconnecter
li.user-logout {
  form {
    display: none;
    margin-bottom:0 !important;
  }
}
.offcanvas{
  z-index:9999;
}
@media (max-width:768px) {
  header{
    .header-top{
      .l-container {
        display: block;
        align-items: center;
        justify-content: center;
        a.logo {
          img {
            display: block;
            margin: 0 auto;
            max-height: 35px;
          }
        }
        .header-socials {
          text-align: center;
          padding-top: 10px;
        }
      }
    }
    .header-bottom{
      .l-container{
        .responsive-menu{
          font-size:1rem;
          color:$mainColor;
          cursor:pointer;
          transition-duration:$durationTransition;
          display:block;
        }
        nav.main-navigation{
          display:none;
        }
        nav.ecommerce-navigation{
          display:none;
        }
      }
    }
  }
  nav.responsive-nav{
    a:hover{
      color:$mainColor;
    }
    span.flex-nav{
      display:block;
      width:100%;
      padding:0 0 15px 0;
      margin:15px 0;
      border-bottom:1px solid $borderColor;
      ul{
        display:flex;
        align-items:center;
        flex-direction: row;
        justify-content:space-between;
        font-size:1rem;
      }
    }
    ul{
      margin-left:10px;
      font-size:1rem;
      li{
        a{
          display:block;
          margin:5px 0;
        }
      }
    }
  }
}

// Head-title : Titre en haut de la page
.head-title{
  background-color:$headTitleBackground;
  color:$headTitleColor;
  padding:15px 0 15px 0;

  text-align:center;
  background-image: url('../images/halo.png');
  background-position:top center;
  background-size:cover;
  background-repeat:no-repeat;
  h1{
    font-weight:normal;
    font-size:2.25rem;
    margin-bottom:0;
  }
}
// Barre de recherche
.search-bar{
  background-color:$headerTopBackground;
  background:$headerTopGrandiant;
  padding:7px 0;
  border-bottom:1px solid $borderColor;
  position:relative;
  z-index:2;
  .l-container{
    display:flex;
    align-items:center;
    justify-content: space-between;
    form{
      width:calc(258px + $inputHeight);
      margin:0;
      input{
        display:inline-block;
        float:left;
        height:$inputHeight;
        color:$inputColor;
        border:1px solid $inputBorder;
        border-radius:0;
        width:258px;
      }
      button{
        display:inline-block;
        float:left;
        background-color:$mainColor;
        padding:0;
        width:$inputHeight;
        height:$inputHeight;
        min-height:auto;
        border-radius:0;
        border:none;
      }
    }
    nav{
      margin:0;
      color:$mainColor;
      font-family:$fontFamilyOther;
      font-size:0.75rem;
      a{
        padding:0 2px 0 2px;
        transition-duration:$durationTransition;
      }
      a:hover{
        color:$mainFontColor;
      }
    }
  }
}

@media (max-width:768px) {
  .search-bar {
    text-align:center;
    .l-container {
      display: block;
      align-items: center;
      justify-content: space-between;
      form {
        display:inline-block;
        margin: 10px 0 0 0;
        input {
        }
        button {
        }
      }
      nav {
        text-align:center;
        a {
        }
        a:hover {
        }
      }
    }
  }
}

// Titre
.title{
  position:relative;
  padding:0 0 8px 0;
  border-bottom:1px dotted #bbbcbe;
  margin:0 0 14px 0;
  display:flex;
  justify-content: space-between;
  align-items: flex-end;
  h1,h2,h3,h3,h4,h5,h6{
    font-size:26px;
    display:inline-block;
    margin:0 10px 0 0;
  }
  a{
    color:$mainColor;
    text-transform:uppercase;
    font-size:12px;
    font-family:$fontFamilyOther;
    transition-duration:$durationTransition;
  }
  a:hover{
    color:$mainFontColor;
  }
  .flash-arrows, .week-arrows{
    color:$mainColor;
    font-size:0.75rem;
    svg{
      cursor:pointer;
    }
  }
}

@media (max-width:768px) {
  .title{
    display:block;
    text-align:center;
    a{
      margin:8px auto 0 auto;
    }
  }
}

// Partage réseaux sociaux
.share{
  padding:20px 0 10px 0;
  p{
    margin:0; padding:0;
    font-size:1rem;
  }
  ul{
    margin:0; padding:0;
    display:flex;
    align-items:center;
    li{
      list-style:none;
      margin:10px 0 10px 10px;
      a{
        display:inline-block;
        background-color:$mainColor;
        color:#FFF;
        width:30px;
        height:30px;
        line-height:30px;
        text-align:center;
        font-size:0.750rem;
        font-family:$fontFamilyBase;
        transition-duration:$durationTransition;
        border-radius:0;
      }
      a:hover{
        opacity:0.8;
      }
    }
    li:first-child{
      margin-left:0;
    }
  }
}

//Modal
.remodal{
  max-width:$containerWidth;
  text-align:left;
  color:$mainFontColor;
  .modal-title{
    padding:15px;
    background-color:$brand-success;
    text-align:center;
    font-weight:bold;
    color:#FFF;
    font-size:1.125rem;
    margin-bottom:30px;
  }
  .cart-product{
    border-right:1px solid $mainFontColor;
    .product-name{
      color:$mainColor;
      font-size:1.125rem;
      font-weight:bold;
      font-family:$fontFamilyTitle;
    }
    .product-price{
      color:$mainFontColor;
      font-size:1rem;
      padding:10px 0;
    }
    .product-quantity{
      font-weight:bold;
      span{
        font-weight:normal;
      }
    }
  }
  .cart-infos{
    p{
      color:$mainFontColor;
      font-size:1rem;
    }
    p.total-count{
      font-size:1.125rem;
    }
    .link{
      display:flex;
      align-items:center;
      justify-content:space-between;
      a{
        display:inline-block;
        padding:0 10px;
        background-color:$mainColor;
        color:#FFF;
        height:30px;
        line-height:30px;
        text-align:center;
        font-size:1.125rem;
        font-family:$fontFamilyBase;
        text-transform:uppercase;
        transition-duration:$durationTransition;
        border-radius:0;
        svg{
          display:inline-block;
          margin-right:10px;
        }
      }
      a:hover{
        opacity:0.8;
      }
    }
  }
}
@media (max-width:768px) {
  .remodal{
    text-align:center;
    .cart-product{
      border-right:none;
    }
    .cart-infos{
      .link{
        display:block;
        align-items:center;
        justify-content:space-between;
        a{
          display:inline-block;
          margin:10px 0 0 0;
        }
      }
    }
  }
}
// Footer
footer{
  padding:30px 0;
  background-color:$footerBackground;
  color: $footerColor;
  font-size:0.75rem;
  a{
    transition-duration:$durationTransition;
    display:inline-block;
    margin:5px 0 5px 0;
  }
  a:hover{
    color: $footerColor;
    opacity:0.8;
  }
  ul.shop-categories{
    display:flex;
    justify-content:flex-start;
    li{
      width:33%;
      display:inline-block;
      font-family:$fontFamilyTitle;
      font-size:0.875rem;
      ul{
        margin:0; padding:0;
        li{
          display:block;
          width:100%;
          font-family:$fontFamilyBase;
          font-size:0.75rem;
        }
      }
    }
  }
  li.category-title{
    font-family:$fontFamilyTitle;
    font-size:0.875rem;
  }
}
@media (max-width:768px) {
  footer {
    text-align: center;
  }
  footer ul.shop-categories{
    display:block;
  }
  footer ul.shop-categories li {
    width: 100%;
    display:block;
  }
}